---
// const viewportHeight = document.documentElement.clientHeight;
// const viewportWidth = document.documentElement.clientWidth;

// if (viewportWidth < 768) {
//     const cardWidth = viewportWidth * 0.5;
// }
// console.log(viewportWidth, viewportHeight);
---

<div class="card-shell">
    <h1 class="tomorrow-semibold">About Me</h1>
    ajdksnlmdsnlksd
    <slot />
</div>
