---

---

<div class="coolstuff-wrapper">
    <div class="coolstuff-name">
        <h1 class="tomorrow-semibold">Cool Stuff</h1>
    </div>
    <div class="coolstuff-subtitle">
        <h2 class="tomorrow-regular">
            My other stuff, probably more interesting than projects
        </h2>
    </div>
</div>
