---

---

<div class="waves-wrapper">
    <div class="section-wrapper">
        <div class="card">
            <div class="coolstuff-name-container">
                <h1 class="tomorrow-semibold">Cool Stuff</h1>
            </div>
            <div class="coolstuff-subtitle-container">
                <h2 class="tomorrow-regular">
                    My other stuff, probably more interesting than projects
                </h2>
            </div>
        </div>
    </div>
</div>
