---

---

<!-- <div class="waves-wrapper"> -->
<div class="info-wrapper">
    <div class="info-card">
        <div class="info-name-container">
            <h1 class="tomorrow-semibold">About Me</h1>
        </div>
        <div class="info-subtitle-container">
            <h2 class="tomorrow-regular">copy email...</h2>
        </div>
    </div>
</div>
<!-- </div> -->
