---
import "./waves.astro";
---

<!-- <div class="waves-wrapper">  -->
<div class="lander-wrapper">
    <div class="lander-card">
        <div class="lander-name-container">
            <h1 class="tomorrow-semibold">Bryce Lee</h1>
        </div>
        <div class="lander-subtitle-container">
            <h2 class="tomorrow-regular">
                Aspiring Engineer in Santa Clarita, CA
            </h2>
        </div>
    </div>
</div>
<!-- </div> -->
