---
import "./waves.astro";
---

<div class="name1">
    <h1 class="tomorrow-semibold">Bryce Lee</h1>
</div>
<div class="subtitle1">
    <h2 class="tomorrow-regular">Aspiring Engineer in Santa Clarita, CA</h2>
</div>
