---
import "../styles/global.css";
import Info3 from "../pages/components/info3.astro";
import Projects2 from "../pages/components/projects2.astro";
import Landing1 from "../pages/components/landing1.astro";
import Cool4 from "../pages/components/cool4.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bryce Lee</title>
	</head>
	<body>
		<div class="lander-wrapper">
			<div class="lander-card">
				<div class="lander-name-container">
					<h1 class="tomorrow-semibold">Bryce Lee</h1>
				</div>
				<div class="lander-subtitle-container">
					<h2 class="tomorrow-regular">
						Aspiring Engineer in Santa Clarita, CA
					</h2>
				</div>
			</div>
		</div>
	</body>
</html>

<script>
	const card = document.querySelector(".lander-card") as HTMLElement;
	const rect = card?.getBoundingClientRect();
	const textoffset = 12;
	const cardradius = 24;
	const path = `M ${rect.x + cardradius},${rect.y + textoffset} L${rect.right - cardradius},${rect.y + textoffset} A ${cardradius} ${cardradius} 0 0 1 ${rect.right - cardradius},${rect.y + textoffset}`;
</script>
