---
import "../styles/global.css";
import Info3 from "../pages/components/info3.astro";
import Projects2 from "../pages/components/projects2.astro";
import Landing1 from "../pages/components/landing1.astro";
import Cool4 from "../pages/components/cool4.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bryce Lee</title>
	</head>
	<body>
		<Landing1 />
		<Projects2 />
		<Info3 />
		<Cool4 />
		<Landing1 />
		<Projects2 />
		<Info3 />
		<Cool4 />
		<Landing1 />
		<Projects2 />
		<Info3 />
		<Cool4 />
	</body>
</html>

<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import Lenis from "lenis";
	gsap.registerPlugin(ScrollTrigger);
	const lenis = new Lenis({
		autoRaf: true,
	});
	const allSections = gsap.utils.toArray<HTMLElement>(
		".lander-wrapper, .projects-wrapper, .info-wrapper, .coolstuff-wrapper",
	);
	const loopDistance = allSections[4].offsetTop - allSections[0].offsetTop;

	let isJumping = false;

	lenis.on("scroll", ({ scroll }: { scroll: number }) => {
		if (isJumping) return;

		let offset = 0;

		if (scroll >= loopDistance * 2) {
			offset = -loopDistance;
		} else if (scroll < loopDistance) {
			offset = loopDistance;
		}

		if (offset !== 0) {
			isJumping = true;
			const l = lenis as any;
			l.targetScroll += offset;
			l.animatedScroll += offset;
			l.animate.value += offset;
			l.animate.from += offset;
			l.animate.to += offset;
			window.scrollTo({
				top: l.animatedScroll,
				behavior: "instant" as any,
			});
			l._preventNextNativeScrollEvent = true;
			requestAnimationFrame(() => {
				isJumping = false;
			});
			return;
		}

		ScrollTrigger.update();
	});

	window.addEventListener("load", () => {
		lenis.scrollTo(loopDistance, { immediate: true });
		ScrollTrigger.refresh();
	});
</script>
