---
import "../styles/global.css";
import "../subpages/waves.astro";
import "../subpages/info3.astro";
import "../subpages/projects2.astro";
import "../subpages/landing1.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<!--		<link rel="stylesheet" href="/src/styles/global.css" />
		-->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bryce Lee</title>
	</head>
	<body>
		<waves></waves>
		<info3></info3>
		<projects2></projects2>
		<landing1></landing1>
	</body>
</html>

<script>
	import Lenis from "lenis";
	const lenis = new Lenis({
		autoRaf: true,
		//		infinite: true,
	});
	lenis.on("scroll", (e) => {
		console.log(e);
	});
</script>
