---
import "../styles/global.css";
import Info3 from "../pages/components/info3.astro";
import Projects2 from "../pages/components/projects2.astro";
import Landing1 from "../pages/components/landing1.astro";
import Cool4 from "../pages/components/cool4.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bryce Lee</title>
	</head>
	<body>
		<Landing1 />
		<Projects2 />
		<Info3 />
		<Cool4 />
		<Landing1 />
		<Projects2 />
		<Info3 />
		<Cool4 />
	</body>
</html>

<script>
	/* import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import Lenis from "lenis";
	const lenis = new Lenis({
		autoRaf: true,
		infinite: true,
	});
	lenis.on("scroll", (e) => {
		console.log(e);
	});
	lenis.on("scroll", ScrollTrigger.update);
	gsap.registerPlugin(ScrollTrigger);

	ScrollTrigger.create({
		snap: {
			snapTo: 1 / 7, // Snap to 8 sections (4 originals + 4 clones = 8 spots)
			duration: 0.5,
			delay: 0.1,
			ease: "power1.inOut",
		},
	}); */
</script>
