---
import "../global.css";
import "./waves.astro";
---

<html>
    <body>
        <waves>
            <div class="hero-name">
                <h1 class="tomorrow-semibold">Bryce Lee</h1>
            </div>
            <div class="hero-subtitle">
                <h2 class="tomorrow-regular">
                    Aspiring Engineer in Santa Clarita, CA
                </h2>
            </div>
        </waves>
    </body>
</html>
